#footer
    .container.content-section
        h2 Credits
        p Icons provided by #[a(href="https://materialdesignicons.com/" target="_blank") Material Design Icons], licensed under #[a(href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank") Apache 2.0], and are unmodified from the official release. This API was not created, and is not managed by the creators of Material Design Icons.
        br
        h2 Support
        p To report a bug, have a question or other inquries, create an issue on the GitHub #[a(href="https://github.com/russellramey/mdisvg" target="_blank") repository].
