#footer
    .container.content-section
        h2 Credits
        p Icons provided by #[a(href="https://materialdesignicons.com/") Material Design Icons], licensed under #[a(href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank") Apache 2.0], and are unmodified from the official release. This API was not created, and is not managed by the creators of Material Design Icons.
        br
        h2 Support
        p Last updated on October 1, 2021. Please contact XXXXX@gmail.com with questions, to report a bug, or other inquries.
