nav#nav
    ul.nav-main
        li
            a(href="#endpoints") Enpoints
        li
            a(href="#examples") Examples 
        li
            a(href="https://github.com/russellramey/fa-svg" target="_blank") Github
