#overview
    .container.content-section
        h2.section-title Overview
        p Material Design Icons (MDI) as SVG is a simple api that allows you to use any MDI icon with basic HTTP GET requests. Icons are available by using the MDI icon names as the requested URI. If you are not familiar with #[a(href="https://materialdesignicons.com/" target="_blank") Material Design Icons], it is a very popular icon font library for material design style icons, typically used by importing the library web fonts and css stylesheets.
        p This api allows you to use MDI icons in your project as an embed, svg, or json object. Created out of the need to quickly use icons in various existing projects with minimal overhead and the least amount of source changes possible. This api is a great resource for POCs, prototyping, and wireframing. If your project is going to utilize lots of svgs/icons, it may be better to include the MDI library and utilize the icons as the web font resource provided.
