#search
    .container.content-section
        .search-content
            h4 Available Icons
            p Supports all icons available with the current release of Material Design Icons
             
        .search-action
            p
                a.button(href="https://materialdesignicons.com/" target="_blank") See all available icons
                
            p.notice You will be redirected to materialdesignicons.com.
