#versions
    .container.content-section
        h2 Versions
        p Endpoint versioning will be used to update the available icon selections, based on releases from the Material Design Icons font. The list below will show the current API version with the correspoinding release version of the MDI icon set. If you are staring a new project, using the lates version is recommended.
        
        pre
            code
                span.comment // Version usage in endpoints
                br
                span.code https://api.mdisvg.com/<b>v1</b>/i/account
                br
        
        ul 
            li
                p <b>v1</b>: Material Design Icons v6.5.95
