extends layouts/default_layout 

block title 
    title MDISVG - Material Design Icons as SVG

block content 
    include ./components/hero
    include ./components/overview
    include ./components/search
    include ./components/endpoints
    include ./components/example
    include ./components/footer
