doctype html
html(lang='en')
    head
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
            
        meta(name="description" content="FontAwesome as SVG is a restful api that allows you to use any Font Awesome Free icon with a simple HTTP GET request. Icons are available by using the Font Awesome style and icon name as the URI endpoint. If you are not familiar with Font Awesome, it is a very popular library for icons, typically used by importing web fonts and included stylesheets.")
        meta(name="keywords" content="api, rest api, restful api, font awesome, fontawesome, svg, image, icon, icons, json, request, embed, link, include, get, serve, library")
        
        block title
        link(href="css/style.css" rel="stylesheet")
        link(rel="icon" type="image/svg" href="https://api.mdisvg.com/v1/i/crop-free?color=fff")
    body

        .wrapper
            block content
                
        script(src="js/app.js")
        script(src="https://api.mdisvg.com/loader")
